
<div class="ui five doubling inverted cards">
  {{> card title= name}}
  {{> card title= 'Weather' valueA= weather}}
  {{> card title= 'Temp'valueA=tempC abrA=' C' valueB= tempF abrB=' F'}}
  {{> card title= 'Wind'valueA=beaufort abrA=' bft'}}
  {{> card title= 'Pressure' valueA=pressure abrA=' hPa'}}
  
</div>

