{{> menu id="dashboard"}}

{{#each stations}}
  <section class="ui stacked segment">
    <h2 class="ui header">
      {{name}}
    </h2>
    <a href="/station/{{id}}" class="ui icon button">
      <i class="icon folder open"></i>
    </a>
  </section>
{{/each}}
{{> addstation}}