{{> menu id="dashboard"}}

{{#each stations}}
  <section class="ui segment">
    <p></p>
    {{> station-panel-dashboard}}
    <h1>
      <a href="/station/{{id}}" class="ui icon button">
      <i class="icon folder open"></i>
    </a>
    <a href="/dashboard/deletestation/{{id}}" class="ui icon button">
      <i class="icon trash"></i>
    </a>
    </h1>
  </section>
{{/each}}
{{> addstation}}