{{> welcomemenu id='login' }}
<section class="ui left middle aligned two column grid segment">
  <div class="column">
<form class="ui stacked segment form" action="/authenticate" method="POST">
  <h3 class="ui header">Log-in</h3>
  <div class="field">
    <label>Email</label> <input placeholder="Email" name="email">
  </div>
  <div class="field">
    <label>Password</label> <input type="password"  name="password">
  </div>
  <button class="ui blue submit button">Login</button>
</form>
    </div>
  <div class="column">
    <img class="ui image" src="https://cdn.glitch.global/ce35a128-e53a-4d17-9390-a4b12f293c32/icons-2.jpg?v=1661111693026">
  </div>
</section>