{{> welcomemenu id="signup"}}
<section class="ui left middle aligned two column grid segment">
  <div class="column">
    <img class="ui image" src="https://cdn.glitch.global/ce35a128-e53a-4d17-9390-a4b12f293c32/icons-3.png?v=1661111692801">
  </div>
  <div class="column">
<form class="ui stacked segment form" action="/register" method="POST">
  <h3 class="ui header">Register</h3>
  <div class="two fields">
    <div class="field">
      <label>First Name</label>
      <input placeholder="First Name" type="text"  name="firstName">
    </div>
    <div class="field">
      <label>Last Name</label>
      <input placeholder="Last Name" type="text"  name="lastName">
    </div>
  </div>
  <div class="field">
    <label>Email</label>
    <input placeholder="Email" type="text" name="email">
  </div>
  <div class="field">
    <label>Password</label>
    <input type="password" name="password">
  </div>
  <button class="ui blue submit button">Submit</button>
</form>
    </div>
  </section>